body{   
    background-color: darkgray;  
}  
#frm{  
    border: 5px royalblue solid;  
    width:25%;  
    border-radius: 20px;  
    margin: 120px auto;  
    background-color:wheat;  
    padding: 50px;  
    color:royalblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}  
#btn{  
    color: #fff;  
    background-color:royalblue;  
    padding: 7px;  
    margin-left: 70%;  
}  
#user, #pass
{
    width: 80%;
    max-width: 200px;
    min-width: 30px;
    background: transparent;
}
#user:valid, #user:invalid, #pass:valid, #pass:invalid
{
    outline: solid royalblue 2px;

}
label{
    display: block;
    
}